@helper Button(string name)
{
    <button class="btn btn-success">
        @(name.ToUpper())
    </button>
}
@helper Submit(string name)
{
    <input type="submit"
           class="btn btn-success"
           value="@(name.ToUpper())" />
}

