@model ITUniver.Calc.DB.Models.Operation

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @(Model.Name.ToUpper())
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">@Model.Owner</a>
        <a class="dropdown-item" href="#">@Model.ArgsCount</a>
        <a class="dropdown-item" href="#">@Model.CreationDate</a>
    </div>
</div>
